<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>进口货运系统</title>
    {% load static from staticfiles %}

    <link href="{% static "js/jquery-easyui/themes/default/easyui.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "js/jquery-easyui/themes/icon.css" %}" rel="stylesheet" type="text/css"/>
    <script src="{% static "js/jquery-easyui/jquery.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-easyui/jquery.easyui.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-easyui/locale/easyui-lang-zh_CN.js" %}" type="text/javascript"></script>
    <script src="{% static "js/App.js" %}" type="text/javascript"></script>
    <script src="{% static "js/datagridgroupview.js" %}" type="text/javascript"></script>
    <link href="{% static "css/test.css" %}" rel="stylesheet" type="text/css"/>
{#    <script src="{% static "js/dhsdebug.js" %}" type="text/javascript"></script>#}

    <script>
        $(function () {
            document.title = sy.apptitle;
            //sy.logonPath = encodeURI("./dealmenureq/?menutext=登录窗口");
            sy.searchWindowUrl = encodeURI("./dealmenureq/?menutext=通用查询");
            sy.logonform = $('<div></div>').window({
                href: encodeURI("./dealmenureq/?menutext=登录窗口"),
                title: '系统登录',
                width: window.innerWidth * 0.25,
                height: window.innerHeight * 0.23,
                modal: true,
                collapsible: false,
                minimizable: false,
                maximizable: false,
                closable: false,
                onBeforeClose: function () {
                    $('#mainmenu').panel('refresh', encodeURI('./dealmenureq/?menutext=导航菜单'));
                    $('#maintab').panel('refresh', encodeURI('./dealmenureq/?menutext=主窗口'));
                }
            });

        });
    </script>
</head>
<body class="easyui-layout">
{% csrf_token %}
{#    <div data-options="region:'north',split:true" style="height: 35px" href="{% url 'logonview' %}"></div>#}
{% comment %}<div data-options="region:'west',title:'功能列表',split:true,collapsed:true"
         style="width: 200px" href="./dealmenureq/?menutext=导航菜单">
    </div>{% endcomment %}
<div id="mainmenu" data-options="region:'west',title:'功能列表',split:true"
     style="width: 200px">
</div>
{% comment %}<div data-options="region:'center'" href="./dealmenureq/?menutext=主窗口">

    </div>{% endcomment %}
<div id="maintab" data-options="region:'center'">

</div>
<div style="display:none;">
    <div id="datagridcontextmenu" class="easyui-menu" style="width:120px;display:none;">
        <div data-options="iconCls:'icon-export'">导出Excel</div>
    </div>

    <form id="exceldownloadform" style="display:none;" target="_blank" method="post" action="./dealPAjax/">
        {% csrf_token %}
        <input id="exceldownload-jpargs" name="jpargs" type="text"/>
    </form>
</div>
</body>

</html>