<script>
    Namespace.register('audit.auditview');
    $(function () {
        audit.auditview.actfeegrid = null;
        audit.auditview.prefeegrid = null;
        $(document).on('afterrender', '#control-audit-actfeegrid-{{ seq }}', function (e, grid) {
            audit.auditview.actfeegrid = $(grid);
            audit.auditview.actfeegrid.datagrid('options').queryFuncName = '实收付未核销查询';
        });
        audit.auditview.refresh = function (param) {
            audit.auditview.actfeegrid.datagrid('uncheckAll');
            audit.auditview.prefeegrid.datagrid('uncheckAll');
            audit.auditview.actfeegrid.datagrid('options').filterFields = [];
            audit.auditview.prefeegrid.datagrid('options').filterFields = [];
            $('#control-audit-filter-toolbar-audit-{{ seq }}').linkbutton('enable');
            if (param.client != null && param.client.length > 0) {
                audit.auditview.actfeegrid.datagrid('options').filterFields.push({
                    cod: 'client_id',
                    operatorTyp: '等于',
                    value: param.client
                });
                audit.auditview.prefeegrid.datagrid('options').filterFields.push({
                    cod: 'pre_fee.client_id',
                    operatorTyp: '等于',
                    value: param.client
                });
            } else {
                $('#control-audit-filter-toolbar-audit-{{ seq }}').linkbutton('disable');
            }
            if (param.feetyp != null && param.feetyp.length > 0) {
                audit.auditview.actfeegrid.datagrid('options').filterFields.push({
                    cod: 'fee_typ',
                    operatorTyp: '等于',
                    value: param.feetyp
                });
                audit.auditview.prefeegrid.datagrid('options').filterFields.push({
                    cod: 'pre_fee.fee_typ',
                    operatorTyp: '等于',
                    value: param.feetyp
                });
            } else {
                $('#control-audit-filter-toolbar-audit-{{ seq }}').linkbutton('disable');
            }
            audit.auditview.actfeegrid.datagrid('reload');
            audit.auditview.prefeegrid.datagrid('reload');
        }
        $(document).on('refresh', '#control-audit-filter-toolbar-{{ seq }}', function (e, parm) {
            audit.auditview.refresh(parm);
        });
        $(document).on('audit', '#control-audit-filter-toolbar-{{ seq }}', function (e, parm) {
            if (parm == '核销') {
                audit.auditview.audit();
            } else {
                //audit.auditview.unaudit();
            }
        });

        $(document).on('afterrender', '#control-audit-prefeegrid-{{ seq }}', function (e, grid) {
            audit.auditview.prefeegrid = $(grid);
            audit.auditview.prefeegrid.datagrid('options').queryFuncName = '应收付未核销查询';
        });
        audit.auditview.audit = function () {
            var actRows = audit.auditview.actfeegrid.datagrid('getChecked');
            var preRows = audit.auditview.prefeegrid.datagrid('getChecked');
            param = {
                func: "核销",
                reqtype:'update',
                ex_parm: {
                    actfeeid: [],
                    prefeeid: []
                }
            }
            for (var i = 0, ilen = actRows.length; i < ilen; i++) {
                param.ex_parm.actfeeid.push(actRows[i].id);
            }
            for (var i = 0, ilen = preRows.length; i < ilen; i++) {
                param.ex_parm.prefeeid.push(preRows[i].id);
            }
            if (param.ex_parm.actfeeid.length == 0 || param.ex_parm.prefeeid.length == 0){
                $.messager.alert('提示','核销数据不完整','info');
                return;
            }
            $.ajax({
                url: "./dealPAjax/",
                data: {jpargs: JSON.stringify(param)},
                success: function (r, t, a) {
                    var stateCod = parseInt(r.stateCod);
                    if (r && !isNaN(stateCod)) {
                        if (stateCod == 202) {
                            //保存成功刷新界面
                            $('#control-audit-filter-toolbar-search-{{ seq }}').triggerHandler('click');
                            $('#control-audit-filter-toolbar-audit-{{ seq }}').linkbutton('enable');
                        }
                    }
                    $.ajaxSettings.success(r, t, a, true);
                }
            });
        }
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'north',border:'false'">
        {% include 'yard/fee/auditfilterview.html' %}
    </div>
    <div data-options="region:'center',border:'false'">
        {% include 'yard/fee/actfeegrid.html' %}
    </div>
    <div data-options="region:'south', split:'true',height:window.innerHeight * 0.6,border:false">
        {% include 'yard/fee/prefeegrid.html' %}
    </div>
</div>
