<script>
    Namespace.register('sysdata.syscodview');
    $(function () {
        sysdata.syscodview.datagrid = $('#sysdata-syscod-datagrid').datagrid({
            columns: [
                [   {% autoescape off %}
                    {{ id.writeUI|safe|escape }},
                    {{ fldEng.writeUI|safe|escape }},
                    {{ fldChi.writeUI|safe|escape }},
                    {{ codName.writeUI|safe|escape }},
                    {{ fldExt1.writeUI|safe|escape }},
                    {{ fldExt2.writeUI|safe|escape }},
                    {{ seq.writeUI|safe|escape }},
                    {{ remark.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 'sys_code',
            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    group:'sysdata-syscod-datagrid',
                    handler: function () {
                        sy.createSearchWindow(sysdata.syscodview.datagrid);
                    }
                },
                '-',
                {text: '增加',
                    iconCls: 'icon-add',
                    group:'sysdata-syscod-datagrid',
                    handler: function () {
                        sysdata.syscodview.datagrid.datagrid('insertData', {
                            cod_name: '值名称'
                        });
                    }
                },
                '-',
                {text: '删除',
                    iconCls: 'icon-remove',
                    group:'sysdata-syscod-datagrid',
                    handler: function () {
                        sysdata.syscodview.datagrid.datagrid('deleteData');
                    }
                },
                '-',
                {text: '保存',
                    iconCls: 'icon-save',
                    group:'sysdata-syscod-datagrid',
                    handler: function () {
                        sysdata.syscodview.datagrid.datagrid('postUpdateAllData');
                    }
                }
            ],
            queryFuncName: '系统参数查询',
            updateFuncName: '系统参数维护'
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="center" border="false">
        <table id="sysdata-syscod-datagrid" border="false">
        </table>
    </div>
</div>
