<script>
    Namespace.register('sysdata.sysmenufuncview');

    $(function () {
        sysdata.sysmenufuncview.menudg = $('#sysdata-sysmenufunc-menudatagrid').datagrid({
            columns: [
                [   {% autoescape off %}
                    {{ menuid.writeUI|safe|escape }},
                    {{ menuname.writeUI|safe|escape }},
                    {{ menu_parent_id.writeUI|safe|escape }}
                {% endautoescape %}
                ]
            ],
            //dataTable: 'sys_menu',
            filterFields: [
                {cod: 'id', operatorTyp: '不等于', value: 0},
                {cod: 'parent_id', operatorTyp: '不等于', value: 0}
            ],
            sortFields: [
                {cod: 'parent_id', order_typ: '升序'},
                {cod: 'sortno', order_typ: '升序'}
            ],
            groupField: 'parent_id',
            groupFormatter: function (value, rows) {
                var groupField = $(this).datagrid('options').groupField;
                var editor = $(this).datagrid('getColumnOption', groupField).editor;
                for (var i = 0, ilen = editor.options.data.length; i < ilen; i++) {
                    if (editor.options.data[i].value == value) {
                        return editor.options.data[i].text;
                    }
                }
                return value;
            },
            pagination: false,
            view: groupview,
            queryFuncName: '功能查询',
            onDblClickRow: function (rowIndex, rowData) {
                return;
            },
            onClickRow: function (rowIndex, rowData) {
                var id = rowData.id;
                var opts = sysdata.sysmenufuncview.menufuncdg.datagrid('options');
                if (sysdata.sysmenufuncview.menufuncdg.datagrid('getChanges').length > 0) {
                    $.messager.confirm('确认', '数据已改变,是否保存?', function (r) {
                        if (r) {
                            sysdata.sysmenufuncview.menufuncdg.datagrid('options').toolbar[4].handler();
                        }
                        opts.filterFields = [
                            {cod: 'menu_id', operatorTyp: '等于', value: id}
                        ];
                        sysdata.sysmenufuncview.menufuncdg.datagrid('reload');
                    });
                } else {
                    opts.filterFields = [
                        {cod: 'menu_id', operatorTyp: '等于', value: id}
                    ];
                    sysdata.sysmenufuncview.menufuncdg.datagrid('reload');
                }
            }
        });
        sysdata.sysmenufuncview.menufuncdg = $('#sysdata-sysmenufunc-menufuncdatagrid').datagrid({
            autoLoad: false,
            columns: [
                [   {% autoescape off %}
                    {{ id.writeUI|safe|escape }},
                    {{ menu_id.writeUI|safe|escape }},
                    {{ func_id.writeUI|safe|escape }},
                    {{ remark.writeUI|safe|escape }}
                {% endautoescape %}
                ]
            ],
            dataTable: 'sys_menu_func',
            pagination: false,
            toolbar: [

                {text: '增加',
                    iconCls: 'icon-add',
                    group: 'sysdata.sysmenufuncview.menufuncdg',
                    handler: function () {
                        var menuRow = sysdata.sysmenufuncview.menudg.datagrid('getSelected');
                        if (menuRow != null && menuRow.id != null) {
                            sysdata.sysmenufuncview.menufuncdg.datagrid('insertData', {
                                menu_id: menuRow.id
                            });
                        } else {
                            $.messager.alert('提示', '请选择功能', 'info');
                        }
                    }
                },
                '-',
                {text: '删除',
                    iconCls: 'icon-remove',
                    group: 'sysdata.sysmenufuncview.menufuncdg',
                    handler: function () {
                        sysdata.sysmenufuncview.menufuncdg.datagrid('deleteData');
                    }
                },
                '-',
                {text: '保存',
                    iconCls: 'icon-save',
                    group: 'sysdata.sysmenufuncview.menufuncdg',
                    handler: function () {
                        if (sysdata.sysmenufuncview.menufuncdg.datagrid('preSave') == 1) {
                            if (sysdata.sysmenufuncview.menufuncdg.validateAllData() == 1) {
                                sysdata.sysmenufuncview.menufuncdg.datagrid('postUpdateAllData');
                            }
                        } else {
                            $.messager.alert('提示', '检验失败', 'info');
                        }
                    }
                }
            ],
            queryFuncName: '功能权限查询',
            updateFuncName: '功能权限维护'
        });
        sysdata.sysmenufuncview.menufuncdg.validateAllData = function () {
            var rows = sysdata.sysmenufuncview.menufuncdg.datagrid('getRows');
            var find = false;
            $.each(rows, function (index, data) {
                for (var i = index + 1, ilen = rows.length; i < ilen; i++) {
                    if (data.func_id == rows[i].func_id) {
                        find = true;
                        return false;
                    }
                }
            });
            if (find == true) {
                $.messager.alert('提示', '权限重复', 'info');
                return 0;
            } else {
                return 1;
            }
        }
    });
</script>

<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="north" border="false" style="height: 200px" data-options="split:true">
        <table id="sysdata-sysmenufunc-menudatagrid" border="false">
        </table>
    </div>
    <div region="center" border="false">
        <table id="sysdata-sysmenufunc-menufuncdatagrid" border="false">
        </table>
    </div>

</div>