<script>
    Namespace.register('control.contract.contractgrid');
    $(function () {
        control.contract.contractgrid.lock_{{ seq }} = false;
        control.contract.contractgrid._{{ seq }} = $('#control-contract-datagrid-{{ seq }}').datagrid({
            autoLoad: false,
            columns: [
                [
                    {% autoescape off %}
                        {{ id.writeUI|safe|escape }},
                        {{ bill_no.writeUI|safe|escape }},
                        {{ vslvoy.writeUI|safe|escape }},
                        {{ contract_no.writeUI|safe|escape }},
                        {{ pre_inport_date.writeUI|safe|escape }},
                        {{ cargo_type.writeUI|safe|escape }},
                        {{ cargo_name.writeUI|safe|escape }},
                        {{ origin_place.writeUI|safe|escape }},
                        {{ dispatch_place.writeUI|safe|escape }},
                        {{ client_id.writeUI|safe|escape }},
                        {{ cargo_piece.writeUI|safe|escape }},
                        {{ cargo_weight.writeUI|safe|escape }},
                        {{ cargo_volume.writeUI|safe|escape }},
                        {{ custom_title1.writeUI|safe|escape }},
                        {{ custom_title2.writeUI|safe|escape }},
                        {{ booking_date.writeUI|safe|escape }},
                        {{ in_port_date.writeUI|safe|escape }},
                        {{ return_cntr_date.writeUI|safe|escape }},
                        {{ custom_id.writeUI|safe|escape }},
                        {{ ship_corp_id.writeUI|safe|escape }},
                        {{ port_id.writeUI|safe|escape }},
                        {{ yard_id.writeUI|safe|escape }},
                        {{ landtrans_id.writeUI|safe|escape }},
                        {{ check_yard_id.writeUI|safe|escape }},
                        {{ unbox_yard_id.writeUI|safe|escape }},
                        {{ credit_id.writeUI|safe|escape }},
                        {{ cntr_freedays.writeUI|safe|escape }},
                        {{ finish_flag.writeUI|safe|escape }},
                        {{ finish_time.writeUI|safe|escape }},
                        {{ remark.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 'contract',

            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    group: 'control-contract-datagrid-{{ seq }}',
                    handler: function () {
                        sy.createSearchWindow(control.contract.contractgrid._{{ seq }});
                    }
                }
            ],

            queryFuncName: '委托查询',
            onLoadSuccess: function (data) {
                control.contract.contractgrid._{{ seq }}.trigger('loadsuccess');
            },
            onDblClickRow: function (rowIndex, rowData) {
                return;
            },
            onClickRow: function (rowindex, rowdata) {
                if (control.contract.contractgrid.lock_{{ seq }} == false) {
                    control.contract.contractgrid.lock_{{ seq }} = true;
                    control.contract.contractgrid._{{ seq }}.trigger('clickrow', rowdata.id);
                }
            }
        });
        control.contract.contractgrid._{{ seq }}.trigger('afterrender', control.contract.contractgrid._{{ seq }});
    });
</script>
<table id="control-contract-datagrid-{{ seq }}" data-options="border:false">
</table>
