<script>
    Namespace.register('contract.feesheet');
    $(function () {
        {% autoescape off %}
            contract.feesheet.datagrid = null;
            contract.feesheet.client = $('#contract-feesheet-queryfilter-toolbar-client').combobox({
                valueField: 'value',
                textField: 'text',
                required: false,
                width: 180,
                data:{{ clientdata }}
            });
            contract.feesheet.feetyp = $('#contract-feesheet-queryfilter-toolbar-feetyp').combobox({
                valueField: 'value',
                textField: 'text',
                required: false,
                width: 100,
                data:{{ feetypdata }}
            });
            contract.feesheet.rpt = $('#contract-feesheet-queryfilter-toolbar-rpt').combobox({
                valueField: 'value',
                textField: 'text',
                required: false,
                width: 100,
                data:{{ rptdata }},
                onSelect: function (record) {
                    var p = {
                        func: '费用报表结构',
                        ex_parm: {
                            'rptid': record.value //费用报表id int型
                        }
                    };
                    $.ajax({
                        url: "./dealPAjax/",
                        data: {jpargs: JSON.stringify(p)},
                        dataType: 'json',
                        success: function (r, t, a) {
                            if (contract.feesheet.datagrid != null){
                                contract.feesheet.datagrid.datagrid('loadData',[]);
                            }
                            contract.feesheet.datagrid = $('#contract-feesheet-datagrid').datagrid({
                                autoLoad: false,
                                border: false,
                                loadNumber: 0,
                                frozenColumns: [
                                    [
                                        {field: 'bill_no', title: '提单号', rowspan: 2, sortable: true, width: 180, halign: 'center'},
                                        {field:"zongji_in",title:"应收合计",rowspan: 2,halign:"center",align: "right",width:100},
                                        {field:"zongji_out",title:"应付合计",rowspan: 2,halign:"center",align: "right",width:100},
                                        {field:"zongji_gain",title:"收入",rowspan: 2,halign:"center",align: "right",width:100}
                                    ]
                                ],
                                columns: r.result,
                                pagination: false,
                                showFooter:true
                            });
                        }
                    });
                }
            });
            contract.feesheet.begindate = $('#contract-feesheet-queryfilter-toolbar-begindate').datebox({
                width: 100
            });
            contract.feesheet.enddate = $('#contract-feesheet-queryfilter-toolbar-enddate').datebox({
                width: 100
            });
        {% endautoescape %}
        contract.feesheet.refresh = function (parm) {
            {% comment %}if (parm.client.length == 0) {
                $.messager.alert('提示', '客户不能空', 'info');
                return;
            }
            if (parm.feetyp.length == 0) {
                $.messager.alert('提示', '费用类型不能空', 'info');
                return;
            }{% endcomment %}
            if (parm.rpt.length == 0) {
                $.messager.alert('提示', '报表不能空', 'info');
                return;
            }
            if (parm.begindate.length == 0) {
                $.messager.alert('提示', '开始日期不能空', 'info');
                return;
            }
            if (parm.enddate.length == 0) {
                $.messager.alert('提示', '截止日期不能空', 'info');
                return;
            }
            var p = {
                func: '客户费用明细报表',
                reqtype:'query',
                ex_parm: {
                    client_id: parm.client,
                    fee_typ: parm.feetyp,
                    begin_tim: parm.begindate,
                    end_tim: parm.enddate,
                    rpt: parm.rpt
                }
            };
            $.ajax({
                url: "./dealPAjax/",
                data: {jpargs: JSON.stringify(p)},
                success: function (r, t, a) {
                    if ($.ajaxSettings.success(r, t, a, false)) {
                        contract.feesheet.datagrid.datagrid('loadData', r.rows);
                        contract.feesheet.datagrid.datagrid('reloadFooter', r.footer);
                    } else {
                        contract.feesheet.datagrid.datagrid('loadData', []);
                        contract.feesheet.datagrid.datagrid('reloadFooter', []);
                    }
                }
            });
        }
        $('#contract-feesheet-queryfilter-toolbar-search').bind('click', function (e) {
            var parm = {
                client: contract.feesheet.client.combobox('getValue'),
                feetyp: contract.feesheet.feetyp.combobox('getValue'),
                begindate: contract.feesheet.begindate.datebox('getValue'),
                enddate: contract.feesheet.enddate.datebox('getValue'),
                rpt: contract.feesheet.rpt.combobox('getValue')
            };
            contract.feesheet.refresh(parm);
        });

    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'north',border:'false'">
        <div id="contract-feesheet-queryfilter-toolbar" class="datagrid-toolbar">
            <label for="client_id">委托客户:</label>
            <input id="contract-feesheet-queryfilter-toolbar-client" type="text" name="client_id"/>
            <label for="fee_typ">费用类型:</label>
            <input id="contract-feesheet-queryfilter-toolbar-feetyp" type="text" name="fee_typ"/>
            <label for="rpt">报表:</label>
            <input id="contract-feesheet-queryfilter-toolbar-rpt" type="text" name="rpt"/>
            <label for="begindate">日期:</label>
            <input id="contract-feesheet-queryfilter-toolbar-begindate" type="text" name="begindate"/>
            <label for="enddate">至:</label>
            <input id="contract-feesheet-queryfilter-toolbar-enddate" type="text" name="enddate"/>
            <a id="contract-feesheet-queryfilter-toolbar-search" href="#" class="easyui-linkbutton"
               data-options="iconCls:'icon-search',group:'contract-feesheet-queryfilter-toolbar'">查询</a>
        </div>

    </div>

    <div data-options="region:'center',border:'false'">
        <table id="contract-feesheet-datagrid" data-options="border:'false'">
        </table>
    </div>

</div>
