<script>
    Namespace.register('control.audit.actfeegrid');
    $(function () {
        {% autoescape off %}
            control.audit.actfeegrid._{{ seq }} = $('#control-audit-actfeegrid-{{ seq }}').datagrid({
            autoLoad: false,
            border: false,
            sumAmount: 0,
            title: '实收付费用',
            columns: [
                [
                    {% if check_flag == True %}
                        {field: 'check_flag', checkbox: true},
                    {% endif %}
                    {{ actfee_id.writeUI|safe|escape }},
                    {{ actfee_client_Id.writeUI|safe|escape }},
                    {{ actfee_fee_typ.writeUI|safe|escape }},
                    {{ actfee_amount.writeUI|safe|escape }},
                    {{ actfee_invoice_no.writeUI|safe|escape }},
                    {{ actfee_check_no.writeUI|safe|escape }},
                    {{ actfee_accept_no.writeUI|safe|escape }},
                    {{ actfee_pay_type.writeUI|safe|escape }},
                    {{ actfee_fee_tim.writeUI|safe|escape }},
                    {{ actfee_ex_feeid.writeUI|safe|escape }},
                    {{ actfee_audit_id.writeUI|safe|escape }},
                    {{ actfee_audit_tim.writeUI|safe|escape }}
                ]
            ],
        {% endautoescape %}
    dataTable: 'act_fee',
    pagination: false,
    singleSelect: false,
    rowStyler: function (rowIndex, rowData) {
        //console.info(rowData);
        if (rowData.amount < 0) {
            return 'color:red';
        }
    },
    onDblClickRow: function (rowIndex, rowData) {
        return;
    },
    onClickRow: function (rowIndex, rowData) {
        return;
    },
    onCheck: function (rowIndex, rowData) {
        var opts = control.audit.actfeegrid._{{ seq }}.datagrid('options');
        opts.sumAmount = opts.sumAmount + parseFloat(rowData.amount);
        control.audit.actfeegrid._{{ seq }}.refreshSum();
    },
    onUncheck: function (rowIndex, rowData) {
        var opts = control.audit.actfeegrid._{{ seq }}.datagrid('options');
        opts.sumAmount = opts.sumAmount - parseFloat(rowData.amount);
        control.audit.actfeegrid._{{ seq }}.refreshSum();
    },
    onCheckAll: function (rows) {
        var opts = control.audit.actfeegrid._{{ seq }}.datagrid('options');
        opts.sumAmount = 0;
        for (var i = 0, ilen = rows.length; i < ilen; i++) {
            opts.sumAmount = opts.sumAmount + parseFloat(rows[i].amount);
        }
        control.audit.actfeegrid._{{ seq }}.refreshSum();
    },
    onUncheckAll: function (rows) {
        var opts = control.audit.actfeegrid._{{ seq }}.datagrid('options');
        opts.sumAmount = 0;
        control.audit.actfeegrid._{{ seq }}.refreshSum();
    }
    });
        control.audit.actfeegrid._{{ seq }}.refreshSum = function () {
            $('#control-audit-actfeegrid-sum-{{ seq }}').text('合计:' + control.audit.actfeegrid._{{ seq }}.datagrid('options').sumAmount
            );
        }
        control.audit.actfeegrid._{{ seq }}.trigger('afterrender', control.audit.actfeegrid._{{ seq }});
    });
</script>

<div class="easyui-layout" data-options="fit:true,border:false">
    <div data-options="region:'center',border:'false'">
        <table id="control-audit-actfeegrid-{{ seq }}" data-options="border:'false'">
        </table>
    </div>
    <div data-options="region:'south',border:'false'" style="border-top: none">

        <label id="control-audit-actfeegrid-sum-{{ seq }}">合计:0</label>

    </div>
</div>

