<script>
    Namespace.register('basedata.actionview');
    $(function () {
        basedata.actionview.datagrid = $('#basedata-action-datagrid').datagrid({
            columns: [
                [
                    {% autoescape off %}
                        {{ id.writeUI|safe|escape }},
                        {{ action_name.writeUI|safe|escape }},
{#                        {{ require_flag.writeUI|safe|escape }},#}
                        {{ sortno.writeUI|safe|escape }},
                        {{ remark.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 'c_contract_action',
            sortFields: [{
                cod:'sortno',
                order_typ:'升序'
            }],
            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    group:'basedata-action-datagrid',
                    handler: function () {
                        sy.createSearchWindow(basedata.actionview.datagrid);
                    }
                },
                '-',
                {text: '增加',
                    iconCls: 'icon-add',
                    group:'basedata-action-datagrid',
                    handler: function () {
                        basedata.actionview.datagrid.datagrid('insertData', {
                            action_name: '新动态'
                        });
                    }
                },
                '-',
                {text: '删除',
                    iconCls: 'icon-remove',
                    group:'basedata-action-datagrid',
                    handler: function () {
                        basedata.actionview.datagrid.datagrid('deleteData');
                    }
                },
                '-',
                {text: '保存',
                    iconCls: 'icon-save',
                    group:'basedata-action-datagrid',
                    handler: function () {
                        basedata.actionview.datagrid.datagrid('postUpdateAllData');
                    }
                }
            ],
            queryFuncName:'动态类型查询',
            updateFuncName:'动态类型维护'
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="center" border="false">
        <table id="basedata-action-datagrid" border="false">
        </table>
    </div>
</div>
