<script>
    Namespace.register('basedata.postview');
    $(function () {
        basedata.postview.datagrid = $('#basedata-post-datagrid').datagrid({
            columns: [
                [
                    {% autoescape off %}
                        {{ id.writeUI|safe|escape }},
                        {{ postname.writeUI|safe|escape }},
                        {{ remark.writeUI|safe|escape }}
                    {% endautoescape %}
                ]
            ],
            dataTable: 's_post',
            toolbar: [
                {text: '查询',
                    iconCls: 'icon-search',
                    group:'basedata-post-datagrid',
                    handler: function () {
                        sy.createSearchWindow(basedata.postview.datagrid);
                    }
                },
                '-',
                {text: '增加',
                    iconCls: 'icon-add',
                    group:'basedata-post-datagrid',
                    handler: function () {
                        basedata.postview.datagrid.datagrid('insertData', {
                            postname: '新岗位'
                        });
                    }
                },
                '-',
                {text: '删除',
                    iconCls: 'icon-remove',
                    group:'basedata-post-datagrid',
                    handler: function () {
                        basedata.postview.datagrid.datagrid('deleteData');
                    }
                },
                '-',
                {text: '保存',
                    iconCls: 'icon-save',
                    group:'basedata-post-datagrid',
                    handler: function () {
                        basedata.postview.datagrid.datagrid('postUpdateAllData');
                    }
                }
            ],
            queryFuncName:'岗位查询',
            updateFuncName:'岗位维护'
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true,border:false">
    <div region="center" border="false">
        <table id="basedata-post-datagrid" border="false">
        </table>
    </div>
</div>
